*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btn-primary{
  background-color: #ff4450;
  border-radius: 40px;
  padding: 15px 25px;
  border-color: transparent;
  color: white;
  margin: 20px 0;
}
.btn-primary:hover{
  background-color: #009b72;
  cursor: pointer;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
a{
  text-decoration: none;
  color: #457993;

}
